<main class="mt-5">
    <div class="container">
        <div class="card mx-auto">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="/img/logo.jpg" 
                alt="logo" style="width:150px;height:150px;display:block;">
                <h3 class="text-uppercase text-center p-4"> Crud con node js y mysql </h3>
            </div>
            <div class="card-body text-center">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus
                asperiores quam labore fuga aut corporis quisquam veritatis, nam doloremque 
                minus excepturi, numquam dolore enim debitis, omnis ab velit. Quod, sint.</p>
                <a href="#" class="btn btn-primary">crear una persona</a>
            </div>
        </div>
    </div>
</main>